body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.g2wbutton{
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    color: dodgerblue;
    width: 300px;
    border-style: solid;
    border-width: 1.5px;
    border-color: dodgerblue;
    font-weight: 600;

    transition: color .3s, background-color .3s;
}

.g2wbutton:hover{
    color: white;
    background-color: dodgerblue;
}

.login-form{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    width: min-content;
}

input{
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 500px;
}

input:focus{
    outline: none;
}
